@model ProductsViewModel
<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
    <section style="margin:auto;margin-left:40%;margin-top:50px">
            <a asp-action="Add" asp-controller="Product" style="background-color:forestgreen;width:100%;font-size:1.5em;padding:10px 60px;
            border:3px solid black;border-radius:10px;text-decoration:none;">ADD</a>

        </section>
        <section style="margin-top:50px;display:flex;justify-content:center;width:100%;flex-wrap:wrap">
            @foreach(var product in Model.Products)
            {
                <section style="width:35%;margin:30px;padding:20px;border-radius:10px;border:3px solid black;background-color:gray" >
                    <img src="~/images/@product.ImageLink" alt="@product.Name" style="width:100%;height:50%;border-radius:10px;border:2px solid black;" />
                    <h1 style="font-size:1.5em;color:white;margin-top:10px;">Name : @product.Name</h1>
                    <h1 style="font-size:1.5em;color:white;">Description : @product.Description</h1>
                    <h1 style="font-size:1.5em;color:white;">Discount : @product.Discount</h1>
                    <h1 style="font-size:1.5em;color:white;">Price : @product.Price</h1>
                    <section style="display:flex;justify-content:start;margin-top:20px;">
                        <a asp-action="Delete" style="text-align:center;text-decoration:none;width:50%;background:red;padding:10px;margin-right:50px;border-radius:10px;border:2px solid black;" asp-controller="Product" asp-route-id="@product.Id">DELETE</a>
                        <a asp-action="Update" style="text-align:center;text-decoration:none;width:50%;background:blue;padding:10px;border-radius:10px;border:2px solid black;" asp-controller="Product" asp-route-id="@product.Id">UPDATE</a>
                    </section>
                </section>
            }
        </section>
    </body>
</html>